
#map-1 {
    width: 100%;
    height: 650px;
}

#map-2 {
    width: 100%;
    height: 650px;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;


}

.nowrap{
    white-space: nowrap;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
}

.main-caption{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.main-caption__decoration{
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: -10px;
}

header {
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    background-color: rgb(0, 53, 148);
    padding-top: 32px;
    padding-bottom: 24px;
    z-index: 100;
}

.header-logo{
    margin-right: 128px;
}

header a {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #b6d1fa;

}

header .container {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #aec9f4;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-right: auto;
}

.header-nav__link {
    margin-right: 92px;
}

.header-nav__link:last-child {
    margin: 0;
}

.header-nav a:hover {
    color: #fff;
}

.header-tel {
    text-align: center;
    padding-bottom: 8px;
}

.header-tel a{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #b6d1fa;
}

.intro {
    background: url('../img/header_bg.png') 57% 100% no-repeat;
    color: #ffffff;
    padding-bottom: 111px;
}

.intro h1 {
    padding-top: 107px;
    margin-bottom: 51px;
    font-size: 58px;
    line-height: 68px;
    font-weight: 700;
    color: #ffffff;
    width: 605px;
}

.header__text-decoration{
    font-weight: 600;
}

.header__text{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    width: 410px;
    margin-bottom: 61px;
}

.header__promocode-text{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 16px;
}

.promocode {
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #f8485e;
}

.statistics {
    padding-top: 91px;
    padding-bottom: 103px;
    border-bottom: 1px solid #dddddd;
}

.statistics-title {
    text-align: center;
    font-size: 30px;
}

.statistics-items {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 76px;
}

.statistics-items__item {
    display: grid;
    grid-template-columns: 84px 1fr;
    grid-column-gap: 32px;
    align-items: self-start;
}

.statistics-items__item:last-child {
    display: flex;
    align-items: end;
}

.statistics-items__item:last-child a {
    text-decoration: none;
    color: #42b6e4;
}

.item-img svg{
    width: 84px;
    height: 84px;
}

.text-tittle{
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 6px;
}

.text__content {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
}

.item-text-description{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
    padding-bottom: 5px;
    padding-left: 7px;
}

.myths {
    padding-bottom: 96px;
    padding-top: 83px;
    border-bottom: 1px solid #dddddd;
}

.myths .main-caption{
    margin-bottom: 44px;
}

.myths-number {
    font-size: 84.1px;
    line-height: 134px;
    font-weight: 400;
    color: #f8485e;
    display: flex;
    align-items: center;
    margin-right: 27px;
}

.myths-number span {
    font-size: 26.9px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f8485e;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

}

.myths-text{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    width: 100%;
}

.myth-1 .item-text .item-text__title .myths-text{
    width: 420px;
}

.myths .item-text__title {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 13px;
}

.myths-item {
    display: grid;
    grid-template-columns: 690px 1fr;
    grid-column-gap: 100px;
}

.subtitle__caption{
    opacity: 0.85;
    font-size: 27.8px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #003594;
    margin-bottom: 12px;
}

.myths .item-text__subtitle p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
}

.item-text__subtitle{
    margin-bottom: 24px;
}

.item-text__bottom {
    display: flex;
    align-items: center;
}

.bottom-mark {
    border-radius: 50%;
    border: 1px solid rgb(0, 53, 148);
    font-size: 29px;
    color: rgb(0, 53, 148);
    width: 48px;
    height: 48px;
    text-align: center;
    font-weight: bold;

}

.bottom-text {
    font-weight: bold;
    width: 70%;
    margin-left: 26px;
}

.text-bottom__item{
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
}

.myths-item .item-img {
    text-align: end;
}

.myths-item .item-img img {
    border-bottom-left-radius: 64px;
}

.btn {
    text-align: center;
    margin-top: 90px;

}

.btn button {
    background-color: #ffffff;
    border-radius: 50px;
    width: 352px;
    height: 48px;
    cursor: pointer;
    border: 1px solid rgb(0, 169, 224);
    color: rgb(0, 169, 224);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

button:hover {
    background-color: #18bbf0;
    color: #ffffff;
    transition: all 0.5s ease;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.next-1 {
    margin-left: 64%;
    margin-top: 79px;

}

.prev-7 {
    margin-left: 80%;

}

.none {
    display: none;
}

.block {
    display: grid;
}

.action-section {
    border-bottom: 1px solid #dddddd;

}

.action-item {
    display: flex;
    padding-top: 100px;
    padding-bottom: 81px;
}

.action-img {
    margin-right: 56px;
    margin-top: 10px;
}

.action-subtitle{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
}

.action__caption{
    margin-bottom: 22px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.action__text{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 28px;
}

.action-image{
    margin-bottom: 29px;
}

.under__image-caption{
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 9px;
}

.under__image-text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    width: 210px;
}

.action__promocode{
    font-size: 18px;
    line-height: 48px;
    font-weight: 400;
    color: #000000;
    margin-bottom: -12px;
}

.promocode-decoration-action{
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    color: #f8485e;
}

.clinic {
    padding-top: 90px;
    padding-bottom: 101px;
    border-bottom: 1px solid #dddddd;
}

.clinic-item {
    display: grid;
    grid-template-columns: 615px 1fr;
    grid-column-gap: 88px;
    font-size: 16px;
}

.clinic-title {
    text-align: center;
    padding-bottom: 64px;
    font-size: 27px;
}

.clinic-item a {
    text-decoration: none;
    color: rgb(0, 169, 224);

}

.clinic-item a:hover {
    text-decoration: underline;
}

.clinic-item__img img:first-child {
    width: 100%;
}

.clinic__text{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 29px;
}

.clinic__adress-caption{
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0px;
}

.clinic__adress{
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 35px;
}

.clinic__link{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #00a9e0;
}

.img-row {
    display: flex;
    justify-content: space-between;
}

.img-row img {
    width: 48%;
}

.img-row img:first-child {
    width: 48%;
}

.map {
    padding-bottom: 86px;
    padding-top: 90px;

}

.map .main-caption {
    margin-bottom: 34px;
}

.map-subtitle {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    margin-bottom: 16px;
    padding-bottom: 15px;
}

.map-subtitle a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-right: 23px;
    padding-left: 23px;
}

.map-subtitle a:first-child {
    padding-right: 23px;
    padding-left: 23px;
}

.link {
    text-decoration: none;
    color: rgb(0, 169, 224);;

}

.link:hover {
    text-decoration: underline;
}

.active {
    color: #42be9b !important;
    border-bottom: 2px solid #42be9b;
    padding-bottom: 17px;
}

.conditions__caption{
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
    padding-top: 77px;
    margin-bottom: 27px;
}

.conditions__text{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
}

.conditions__text a {
    text-decoration: none;
    color: rgb(0, 169, 224);;
}

.conditions__text:not(:last-child){
    margin-bottom: 16px;
}

.conditions__decoration-promo{
    font-weight: 700;
}

.footer {
    background-color: #f2f6fe;
    padding-top: 27px;
    padding-bottom: 32px;
}

.footer-items {
    display: flex;
    align-items: center;
}


.footer-text{
    margin-right: auto;
}

.footer__link-item:not(:last-child){
    margin-right: 20px;
}

.footer-links{
    padding-top: 5px;
}

.footer-text-item{
    margin-right: auto;
    padding: 0;
    font-size: 14px;
    color: rgb(151, 166, 195);
}

.footer-links noindex {
    padding-right: 25px;


}

.footer-links a {
    text-decoration: none;
}

.footer-links noindex:last-child {
    padding-right: 0;
}

.intro-bg {
    display: none;
}

.logo-mob {
    display: none;
}
.mob{
    display: none;
}
@media screen and (max-width: 1279px) {
    .container {
        max-width: 968px;
    }

    .intro h1 {
        width: 70%;

    }

    .statistics-title {
        font-size: 27px;
        line-height: 1;
    }

    .intro {
        background-position-x: center;
    }

    .statistics-items {
        grid-template-columns: repeat(2, 1fr);

    }

    .statistics-items__item {
        grid-column-gap: 18px;
    }

    .myths .item-text__title {
        justify-content: space-between;
    }

    .myths-title {
        font-size: 27px;
        line-height: 1;
    }
}

@media screen and (max-width: 1023px) {
    .header-nav {
        display: none;
    }

    .container {
        max-width: 730px;
    }

    .intro h1 {
        width: 100%;
        font-size: 1.731cm;
    }

    .statistics-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .myths-item {
        display: block;
    }

    .myths-item .item-img {
        text-align: center;
    }

    .myths-number {
        width: 9% !important;
    }

    .myths .item-text__title {
        justify-content: flex-start;
    }

    .myths .item-text__title p {
        width: 41%;
    }

    .next-1 {
        margin-left: 27%;
    }

    .prev-7 {
        margin-left: 27%;
    }

    .block {
        display: block;
    }

    .none {
        display: none;
    }

    .footer-links a {
        padding-right: 5px;
    }

    .footer-text {
        order: 2;
    }

    .footer-links {
        order: 1;
        margin-bottom: 45px;
    }

    .footer-items {
        display: flex;
        flex-flow: wrap;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 96%;
    }
    h2{
        font-size: 20px!important;
    }
    header a {
        font-size: 12px;
    }

    .intro h1 {
        padding: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
        font-size: 0.78cm;
    }

    .intro p {
        padding-bottom: 40px;
        text-align: center;
        font-size: 14px;
    }

    .intro {
        padding: 0;
        padding-top: 50px;
        background-image: none;
        background-color: rgb(0, 53, 148);
        height: 672px;

    }

    .intro-bg {
        width: 300px;
        height: 300px;
        display: flex;
        margin: 0 auto;
    }

    .statistics {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .statistics-title {
        font-size: 20px;
    }

    .item-text__title p {
        font-size: 20px;
    }

    .item-text__content {
        font-size: 12px;
    }

    .statistics-items__item:last-child {
        font-size: 12px;
    }
    .myths .item-text__title p{
        width: 100%;
    }
    .myths-number {
        width: 20%!important;
    }

    .statistics-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .myths-title {
        padding-top: 50px;
    }

    .btn {
        margin-top: 45px;
    }

    .action-item {
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .action-img {
        margin: 0;
        display: grid;
        align-items: center;
        text-align: center;
    }

    .action-img svg {
        margin: 0 auto;
    }
    .action-text h2{
        text-align: center;
    }
    .action-img{
        display: none;
    }
    .mob{
        display: block!important;
    }
    .clinic {
        padding: 50px 0 50px 0;
    }

    .clinic-title {
        padding-bottom: 40px;
    }

    .clinic-item {
        grid-template-columns: 1fr;
        display: flex;
        flex-flow: column-reverse;
    }

    .item-img img {
        width: 100%;
    }

    .btn button {
        width: 300px;
    }

    .clinic-item__text {
        order: 1;

    }

    .clinic-item__img {
        order: 2
    }

    .header-logo img {
        width: 70%;
    }
    .footer-links noindex {
        padding-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .next-1 {
        margin-left: 10%;
    }

    .prev-7 {
        margin-left: 10%;
    }
}

@media screen and (max-width: 400px) {
    .next-1 {
        margin-left: 5%;
    }

    .prev-7 {
        margin-left: 5%;
    }
}