
#map-1 {
    width: 100%;
    height: 650px;
}

#map-2 {
    width: 100%;
    height: 650px;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;


}

.nowrap{
    white-space: nowrap;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
}

.main-caption{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.main-caption__decoration{
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: -10px;
}

.fixed-active{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 24px;
    padding-bottom: 13px;
    z-index: 5;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25)
}

.fixed-active .logo{
    display: none;
}

.fixed-active .second-logo{
    max-width: 144px;
    margin-right: 195px;
}

.fixed-active .menu-list-item:not(:last-child) {
    margin-right: 98px;
}

.fixed-active .cart-number{
    right: -8px;
    top: -9px;
}

.fixed-active .header-logo{
    margin-right: 0;
}

.second-logo{
    display: none;
}

.fixed-active .second-logo{
    display: block;
    margin-bottom: 0;
}

.fixed-active .header-phone-position{
    top: -4px;
    margin-right: 56px;
}

.fixed-active .cart-btn{
    top: 0;
}

.fixed-active .nav{
    margin-top: -10px;
}

.fixed-active .header-nav{
    padding-top: 5px;
}

.fixed-active .second-logo img{
    max-width: 144px;
}

.fixed-active .header-nav__link{
    margin-right: 77px;
}

.fixed-active .header-tel a{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #777777;
}

.fixed-active a{
    color: #777777;
}

.fixed-active .header-nav a:hover{
    color: #777;
    border-bottom: none;
}

.fixed-close{
    position: relative;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgb(0, 53, 148);
    padding-top: 32px;
    padding-bottom: 24px;
    z-index: 100;
}

.header-logo{
    margin-right: 128px;
}

header a {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #b6d1fa;

}

header .container {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #aec9f4;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-right: auto;
}

.header-nav__link {
    margin-right: 92px;
}

.header-nav__link:last-child {
    margin: 0;
}

.header-nav a:hover {
    color: #fff;
}

.header-tel {
    text-align: center;
    padding-bottom: 8px;
}

.header-tel a{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #b6d1fa;
}

.intro {
    background: url('../img/header_bg.png') 57% 100% no-repeat;
    color: #ffffff;
    padding-bottom: 111px;
}

.intro h1 {
    padding-top: 107px;
    margin-bottom: 51px;
    font-size: 58px;
    line-height: 68px;
    font-weight: 700;
    color: #ffffff;
    width: 605px;
}

.header__text-decoration{
    font-weight: 600;
}

.header__text{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    width: 410px;
    margin-bottom: 61px;
}

.header__promocode-text{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 16px;
}

.promocode {
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #f8485e;
}

.statistics {
    padding-top: 91px;
    padding-bottom: 103px;
    border-bottom: 1px solid #dddddd;
}

.statistics-title {
    text-align: center;
    font-size: 30px;
}

.statistics-items {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 76px;
}

.statistics-items__item {
    display: grid;
    grid-template-columns: 84px 1fr;
    grid-column-gap: 32px;
    align-items: self-start;
}

.statistics-items__item:last-child {
    display: flex;
    align-items: end;
}

.statistics-items__item:last-child a {
    text-decoration: none;
    color: #42b6e4;
}

.item-img svg{
    width: 84px;
    height: 84px;
}

.text-tittle{
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 6px;
}

.text__content {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
}

.item-text-description{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #999999;
    padding-bottom: 5px;
    padding-left: 7px;
}

.myths {
    padding-bottom: 96px;
    padding-top: 83px;
    border-bottom: 1px solid #dddddd;
}

.myths .main-caption{
    margin-bottom: 44px;
}

.myths-number {
    font-size: 84.1px;
    line-height: 134px;
    font-weight: 400;
    color: #f8485e;
    display: flex;
    align-items: center;
    margin-right: 27px;
}

.myths-number span {
    font-size: 26.9px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f8485e;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

}

.myths-text{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    width: 100%;
}

.myth-1 .item-text .item-text__title .myths-text{
    width: 420px;
}

.myths .item-text__title {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 13px;
}

.myths-item {
    display: grid;
    grid-template-columns: 690px 1fr;
    grid-column-gap: 100px;
}

.subtitle__caption{
    opacity: 0.85;
    font-size: 27.8px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #003594;
    margin-bottom: 12px;
}

.myths .item-text__subtitle p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
}

.item-text__subtitle{
    margin-bottom: 24px;
}

.item-text__bottom {
    display: flex;
    align-items: center;
}

.bottom-mark {
    border-radius: 50%;
    border: 2px solid rgb(0, 53, 148);
    font-size: 29px;
    color: rgb(0, 53, 148);
    width: 48px;
    height: 48px;
    text-align: center;
    font-weight: bold;

}

.bottom-text {
    font-weight: bold;
    width: 70%;
    margin-left: 26px;
}

.text-bottom__item{
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
}

.myths-item .item-img {
    text-align: end;
}

.myths-item .item-img img {
    border-bottom-left-radius: 64px;
}

.btn {
    text-align: center;
    margin: 0 auto;
    margin-top: 90px;

}

.btn button {
    background-color: #ffffff;
    border-radius: 50px;
    width: 352px;
    height: 48px;
    cursor: pointer;
    border: 1px solid rgb(0, 169, 224);
    color: rgb(0, 169, 224);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.myths button:hover {
    background-color: #18bbf0;
    color: #ffffff;
    transition: all 0.5s ease;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.next-1,.prev-7{
    margin: 0 auto;
    margin-top: 79px;
}

.none {
    display: none;
}

.block {
    display: grid;
}

.action-section {
    border-bottom: 1px solid #dddddd;

}

.action-item {
    display: flex;
    padding-top: 100px;
    padding-bottom: 81px;
}

.action-img {
    margin-right: 56px;
    margin-top: 10px;
}

.action-subtitle{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
}

.action__caption{
    margin-bottom: 22px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.action__text{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 28px;
}

.action-image{
    margin-bottom: 29px;
}

.under__image-caption{
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 9px;
}

.under__image-text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    width: 210px;
}

.action__promocode{
    font-size: 18px;
    line-height: 48px;
    font-weight: 400;
    color: #000000;
    margin-bottom: -12px;
}

.promocode-decoration-action{
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    color: #f8485e;
}

.clinic {
    padding-top: 90px;
    padding-bottom: 101px;
    border-bottom: 1px solid #dddddd;
}

.clinic-item {
    display: grid;
    grid-template-columns: 615px 1fr;
    grid-column-gap: 88px;
    font-size: 16px;
}

.clinic-title {
    text-align: center;
    padding-bottom: 64px;
    font-size: 27px;
}

.clinic-item a {
    text-decoration: none;
    color: rgb(0, 169, 224);

}

.clinic-item a:hover {
    text-decoration: underline;
}

.clinic-item__img img:first-child {
    width: 100%;
}

.clinic__text{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 29px;
}

.clinic__adress-caption{
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0px;
}

.clinic__adress{
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 35px;
}

.clinic__link{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #00a9e0;
}

.img-row {
    display: flex;
    justify-content: space-between;
}

.img-row img {
    width: 48%;
}

.img-row img:first-child {
    width: 48%;
}

.map {
    padding-bottom: 86px;
    padding-top: 90px;

}

.map .main-caption {
    margin-bottom: 34px;
}

.map-subtitle {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    margin-bottom: 16px;
    padding-bottom: 15px;
}

.map-subtitle a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-right: 23px;
    padding-left: 23px;
}

.map-subtitle a:first-child {
    padding-right: 23px;
    padding-left: 23px;
}

.link {
    text-decoration: none;
    color: rgb(0, 169, 224);;

}

.link:hover {
    text-decoration: underline;
}

.active {
    color: #42be9b !important;
    border-bottom: 2px solid #42be9b;
    padding-bottom: 17px;
}

.conditions__caption{
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
    padding-top: 77px;
    margin-bottom: 27px;
}

.conditions__text{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
}

.conditions__text a {
    text-decoration: none;
    color: rgb(0, 169, 224);;
}

.conditions__text:not(:last-child){
    margin-bottom: 16px;
}

.conditions__decoration-promo{
    font-weight: 700;
}

.footer {
    background-color: #f2f6fe;
    padding-top: 27px;
    padding-bottom: 32px;
}

.footer-items {
    display: flex;
    align-items: center;
}


.footer-text{
    margin-right: auto;
}

.footer__link-item:not(:last-child){
    margin-right: 20px;
}

.footer-links{
    padding-top: 5px;
}

.footer-text-item{
    margin-right: auto;
    padding: 0;
    font-size: 14px;
    color: rgb(151, 166, 195);
}

.footer-links noindex {
    padding-right: 25px;


}

.footer-links a {
    text-decoration: none;
}

.footer-links noindex:last-child {
    padding-right: 0;
}

.intro-bg {
    display: none;
}

.logo-mob {
    display: none;
}
.mob{
    display: none;
}

.flex{
    display: flex;
}

.myths-item{
    display: block;
}



.flex-div{
    width: 690px;
    margin-right: auto;
}

.none {
    display: none;
}

.flex-btn{
    display: flex;
    justify-content: space-between;
}

.myths .position__mobile{
    display: none;
}

.section-adress{
    padding-top: 89px;
    border-top: 1px solid #dddddd;
}

.adress-btn-position {
    width: 322px;
    margin: 0 auto;
}

.adress-caption {
    margin-bottom: -55px;
}

.adress-btn{
    width: 144px;
    background-color: unset;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 15px;
    margin-right: 12px;
    cursor: pointer;
}

.btn-active{
    border-bottom: 2px solid #00b388;
    color: #00b388;
}

.adress-btn-border{
    border-bottom: 1px solid #dddddd;
    margin-bottom: 62px;
}

.map-position{
    /* position: relative;
    top: -48px; */
    display: none;
}

.map-active{
    display: block;
}

.map{
    width: 100%;
    height: 647px;
    margin-bottom: 0px;
    margin-top: -137px;
    padding-bottom: 0;
}

.horizontal-scroll-wrapper{
    display: flex;
}

.section-conditions{
    margin-bottom: 86px;
}

.action-position-mob{
    display: none;
}

.statistics-items__item:last-child a:hover{
    text-decoration: underline;
}

.recomend-text{
    font-size: 20px;
    text-transform: uppercase;
    color: #dadada;
    margin: 0;
}

.footer-recomend{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.chesel-row{
    background: rgba(248, 248, 248, 0.96);
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-size: 1.54vw;
    z-index: 3;
    bottom: 0;
    color: #d2d2d2;
    width: 100%;
    line-height: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    transform: scaleY(1.5);
    transform-origin: bottom;
}

.mr-b{
    margin-bottom: 88px;
}

header{
    padding-bottom: 18px;
}

.intro h1{
    padding-top: 113px;
}

.intro{
    background-color: #003594;
}

.big__img-1 {
    margin-bottom: 8px;
}

.small-img-1{
    margin-right: 16px;
}

.img-row img:first-child {
    width: 49%;
}

.footer{
    padding-bottom: 68px;
}

.myths-number {
    font-size: 84.1px;
    line-height: 84px;
}

.myths .item-text__title{
    align-items: flex-start;
    margin-top: -4px;
}

.myths .item-text__title {
    margin-bottom: 50px;
}

.img-row{
    justify-content: unset;
}

@media screen and (max-width: 1279px) {
    .container {
        max-width: 968px;
    }

    .intro{
        padding-bottom: 119px;
        background-position: 50% 100%;
    }

    .header-logo {
        margin-right: 74px;
    }

    .intro h1 {
        padding-top: 98px;
        margin-bottom: 54px;
    }


    .header__text{
        margin-bottom: 59px;
    }

    .fixed-active .second-logo{
        margin-right: 88px;
    }

    .fixed-active .nav{
        margin-top: 0;
    }

    .fixed-active .menu-list {
        padding-top: 5px;
    }


    header a{
        font-size: 13px;
        line-height: 1.2;
    }

    .header-nav__link {
        margin-right: 46px;
    }

    .statistics{
        padding-top: 95px;
        padding-bottom: 104px;
    }

    .statistics-items {
        grid-column-gap: 148px;
        grid-row-gap: 72px;
        margin: 0 auto;
        width: 890px;
    }

    .statistics-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .myths{
        padding-top: 91px;
    }

    .intro{
        background-color: unset;
    }

    .flex-div {
        width: 438px;
        margin-right: auto;
    }

    .bottom-text{
        width: 80%;
    }

    .myths .item-text__title {
        justify-content: space-between;
    }

    .myths-title {
        font-size: 27px;
        line-height: 1;
    }

    .none {
        display: none;
    }

    .myths {
        padding-bottom: 97px;
    }

    .action-item{
        padding-top: 91px;
        padding-bottom: 82px;
    }

    .clinic .main-caption{
        width: 630px;
        margin:  0 auto;
        margin-bottom: 46px;
    }

    .clinic-item {
        grid-template-columns: 460px 1fr;
        grid-column-gap: 76px;
    }

    .clinic {
        padding-bottom: 92px;
    }

    .conditions__caption{
        margin-bottom: 19px;
    }


}

@media screen and (max-width: 1023px) {
    .header-nav {
        display: none;
    }

    .intro,.statistics,.myths,.action-section,.clinic,.footer{
        padding-left: 16px;
        padding-right: 16px;
    }

    .fixed-active{
        padding-right: 16px;
    }

    .container {
        max-width: 100%;
    }

    .fixed-active .second-logo{
        margin-right: auto;
    }

    .fixed-active .header-logo{
        position: relative;
    }

    .fixed-active .header-tel{
        margin-left: auto;
    }

    .fixed-active .header-tel a {
        position: relative;
        top: 5px;
    }

    .intro h1 {
        font-size: 50px;
        line-height: 58px;
        font-weight: 700;
        color: #ffffff;
        padding-top: 101px;
        margin-bottom: 44px;
    }

    .recomend-text{
        font-size: 14px;
    }

    .header__text{
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        color: #ffffff;
        width: 350px;
        margin-bottom: 51px;
    }

    .header__promocode-text{
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        color: #ffffff;
    }

    .promocode{
        font-weight: 700;
        letter-spacing: -0.025em;
        color: #f8485e;
    }

    .intro{
        padding-bottom: 110px;
    }

    .statistics{
        padding-top: 83px;
        padding-bottom: 103px;
    }

    .statistics-items {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-column-gap: 52px;
        grid-row-gap: 51px;
    }

    .item-img svg {
        width: 74px;
        height: 74px;
    }

    .text-tittle{
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;
        color: #000000;
    }

    .text__content{
        font-size: 17.6px;
        line-height: 24px;
        font-weight: 400;
        color: #000000;
    }

    .statistics .main-caption{
        margin-bottom: 61px;
    }

    .statistics-items__item{
        grid-template-columns: 74px 1fr;
        align-items: center;
    }

    .myths-item {
        display: block;
    }

    .myths-item .item-img {
        text-align: center;
    }

    .myths-number {
        width: 60px;
    }

    .myths .item-text__title {
        justify-content: flex-start;
    }

    .myth-1 .item-text .item-text__title .myths-text {
        width: 410px;
    }

    .myths .main-caption {
        margin-bottom: 12px;
    }

    .flex-div .item-text__title{
        display: none;
    }

    .myths .position__mobile{
        display: flex;
    }

    .flex-div {
        width: 100%;
    }

    .block {
        display: block;
    }

    .none {
        display: none;
    }

    .footer-links a {
        padding-right: 5px;
    }

    .footer-text {
        order: 2;
    }

    .footer-links {
        order: 1;
        margin-bottom: 45px;
    }

    .footer-items {
        display: flex;
        flex-flow: wrap;
        text-align: center;
        justify-content: center;
    }

    .flex{
        flex-direction: column-reverse;
        display: flex;
    }

    .intro {
        background-position: 52% 45%;
    }

    header .container {
        position: relative;
    }

    .header-logo {
        /*position: absolute;*/
        /*left: 16px;*/
        /*top: 0;*/
        padding-left: 16px;
    }

    .header-tel a{
        position: absolute;
        right: 16px;
        top: 10px;
    }

    .intro h1 {
        padding-top: 143px;
    }

    .myths .item-text__title{
        margin-bottom: 5px;
    }

    .myths-item .item-img {
        margin-bottom: 24px;
    }

    .bottom-text {
        width: 100%;
    }

    .item-text__subtitle {
        margin-bottom: 31px;
    }

    .next-1, .prev-7 {
        margin-top: 71px;
    }

    .action-img {
        margin-right: 32px;
    }

    .clinic-item__img{
        width: 432px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .clinic-item {
        display: flex;
        flex-direction: column-reverse;
    }

    .clinic {
        padding-bottom: 91px;
    }

    .section-conditions {
        margin-bottom: 86px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .section-adress {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer-items{
        flex-direction: column;
    }

    .footer-text{
        margin: 0 auto;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #97a6c3;
    }

    .footer-links a {
        padding-right: 0;
        width: 40px;
        height: 40px;
    }

    .bottom-mark {
        font-size: 25px;
        width: 47px;
        height: 42px;
    }

    .myths .item-text__title {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    header a {
        font-size: 12px;
    }

    .intro h1 {
        padding: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
        font-size: 0.78cm;
    }

    .intro p {
        text-align: center;
    }

    .fixed-active{
        padding-top: 16px;
        padding-bottom: 5px;
    }

    .fixed-active .header-tel a {
        font-size: 11px;
        line-height: 1.2;
        margin-right: 0px;
    }

    .fixed-active .header-tel a {
        position: relative;
        top: 0px;
    }

    .intro {
        padding: 0;
        padding-top: 50px;
        background-image: none;
        background-color: rgb(0, 53, 148);
        height: 672px;

    }

    .intro-bg {
        width: 300px;
        height: 300px;
        display: flex;
        margin: 0 auto;
    }

    .statistics {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .statistics-title {
        font-size: 20px;
    }

    .item-text__content {
        font-size: 12px;
    }

    .statistics-items__item:last-child {
        font-size: 12px;
    }
    /*.myths .item-text__title p{*/
    /*    width: 100%;*/
    /*}*/

    .statistics-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .myths-title {
        padding-top: 50px;
    }

    .btn {
        margin-top: 45px;
    }

    .action-item {
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .action-img {
        margin: 0;
        display: grid;
        align-items: center;
        text-align: center;
    }

    .action-img svg {
        margin: 0 auto;
    }
    .action-text h2{
        text-align: center;
    }
    .action-img{
        display: none;
    }
    .mob{
        display: block!important;
    }
    .clinic {
        padding: 50px 0 50px 0;
    }

    .clinic-title {
        padding-bottom: 40px;
    }

    .clinic-item {
        grid-template-columns: 1fr;
        display: flex;
        flex-flow: column-reverse;
    }

    .item-img img {
        width: 100%;
    }

    .btn button {
        width: 300px;
    }

    .clinic-item__text {
        order: 1;

    }

    .clinic-item__img {
        order: 2
    }

    .header-logo img {
        width: 70%;
    }
    .footer-links noindex {
        padding-right: 10px;
    }

    .intro {
        background: url(../img/header_bg_mob.png) 50% 100% no-repeat;
        background-color: #003594;
        padding-bottom: 104%;
        background-size: 96% auto;
        padding-top: 16px;
        color: #ffffff;
        height: auto;
    }

    .header-logo img {
        width: 144px;
        height: 25px;
    }

    .header-tel a{
        font-size: 11px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #b6d1fa;
        top: 6px;
    }

    header{
        padding-top: 16px;
    }

    .intro h1{
        font-size: 26px;
        line-height: 32px;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 26px;
        padding: 0;
        padding-top: 46px;
    }

    .header__text{
        font-size: 15px;
        line-height: 21px;
        font-weight: 400;
        width: 260px;
        margin: 0 auto;
        margin-bottom: 26px;
    }

    .header__text-decoration{
        font-weight: 400;
    }

    .header__promocode-text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
    }

    .promocode{
        font-weight: 700;
        letter-spacing: -0.025em;
        color: #f8485e;
        font-size: 16px;
        line-height: 24px;
    }

    .main-caption{
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 34px;
    }

    .main-caption__decoration{
        font-size: 20px;
        font-weight: 400;
    }

    .statistics {
        padding-top: 9px;
        padding-bottom: 103px;
    }

    .main-caption__decoration{
        top: -7px;
    }

    .statistics .main-caption {
        margin-bottom: 30px;
    }

    .statistics-items__item{
        grid-template-columns: 64px 1fr;
        grid-column-gap: 28px;
    }

    .item-img svg {
        width: 64px;
        height: 64px;
    }

    .statistics-items {
        grid-row-gap: 31px;
    }

    .text-tittle{
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 9px;
    }

    .text__content{
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #000000;
    }

    .item-text-description{
        font-size: 12px;
        line-height: 16px;
        padding-left: 0;
        padding-top: 5px;
    }

    .statistics {
        padding-bottom: 54px;
    }

    .myths {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .myths-number{
        font-size: 52px;
        line-height: 80px;
        font-weight: 400;
    }

    .myths-number span{
        font-size: 16px;
        line-height: 17px;
        font-weight: 700;
        text-transform: uppercase;
        color: #f8485e;
    }

    .myths-text{
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: #000000;
    }

    .myths .myths-number {
        width: 25px;
    }

    .myths .main-caption {
        margin-bottom: 24px;
    }

    .myth-1 .item-text .item-text__title .myths-text {
        width: 100%;
    }

    .myths .item-text__title {
        margin-bottom: 11px;
    }

    .myths-item .item-img img {
        border-bottom-left-radius: 32px;
        width: 288px;
        height: 264px;
    }

    .subtitle__caption{
        font-size: 22px;
        line-height: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .myths .item-text__subtitle p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #000000;
    }

    .bottom-mark {
        font-size: 24px;
        width: 47px;
        height: 40px;
    }

    .text-bottom__item {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: #000000;
    }

    .item-text__subtitle {
        margin-bottom: 23px;
    }

    .bottom-text {
        margin-left: 15px;
    }

    .btn button{
        width: 288px;
        height: 48px;
        font-size: 16px;
    }

    .btn {
        margin-top: 49px;
    }

    .action__caption{
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        text-align: center;
    }

    .action-item {
        padding-top: 54px;
    }

    .flex-btn{
        flex-direction: column;
    }

    .action-position-mob{
        display: flex;
        align-items: flex-end;
        margin-bottom: 35px;
    }

    .action-position-mob svg{
        width: 50px;
        height: 89px;
        margin-right: 21px;
    }

    .action__caption {
        margin-bottom: 34px;
    }

    .under__image-caption {
        margin-bottom: 6px;
    }

    .action__text{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 34px;
    }

    .action-subtitle{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .action__promocode{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: -3px;
    }

    .promocode-decoration-action{
        font-size: 20px;
        line-height: 40px;
    }

    .action-item{
        padding-bottom: 44px;
    }

    .clinic {
        padding: 61px 0 50px 0;
    }

    .clinic-item__img {
        width: 288px;
        height: 152px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .clinic .main-caption {
        width: 280px;
        margin-bottom: 34px;
    }

    .img-row img{
        width: 135px;
        height: 136px;
    }

    .clinic__text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #000000;
    }

    .clinic-item {
        padding-left: 16px;
        padding-right: 16px;
    }

    .clinic-item__img {
        margin-bottom: 165px;
    }

    .clinic__adress-caption{
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #000000;
    }

    .clinic__adress{
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    .section-adress{
        padding-top: 59px;
    }

    .adress-caption{
        margin-bottom: -15px;
    }

    .adress-btn{
        width: 135px;
    }

    .adress-btn-position {
        width: 300px;
        margin: 0 auto;
    }

    .map{
        height: 545px;
    }

    #map-1 {
        width: 100%;
        height: 545px;
    }

    #map-2 {
        width: 100%;
        height: 545px;
    }

    .conditions__caption{
        padding-top: 46px;
    }

    .conditions__caption{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    .conditions__text{
        font-size: 16px;
        line-height: 24px;
    }

    .section-conditions{
        margin-bottom: 59px;
    }

    .footer{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer__link-item:not(:last-child) {
        margin-right: 16px;
    }

    .footer-links{
        margin-bottom: 35px;
    }

    .btn {
        margin-top: 49px;
    }

    .flex-btn{
        margin-top: 29px;
    }

    .myths-text{
        margin-left: 0px;
    }

    .recomend-text{
        font-size: 1.54vw;
    }

    .adress-caption {
        margin-bottom: 0px;
    }

    header{
        padding-bottom: 26px;
    }

    .intro{
        padding-top: 15px;
    }

    .myths-number{
        line-height: 52px;
    }

    .myths .item-text__title {
        margin-bottom: 25px;
    }




}